:host(:not([disabled])).stickyLeftMenuArea{
  display: grid;
}

:host(:not([disabled])).stickyLeftMenuArea > start{

}

:host(:not([disabled])).stickyLeftMenuArea > slot{
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}

:host(:not([disabled])).stickyLeftMenuArea > end{

}